openai-whisper @ git+https://github.com/openai/whisper.git@b91c907694f96a3fb9da03d4bbdc83fbcd3a40a4
torch ; sys_platform == 'darwin'
torchaudio ; sys_platform == 'darwin'
torchvision ; sys_platform == 'darwin'
torch --index-url https://download.pytorch.org/whl/cu117 ; sys_platform == 'win32'
torchaudio --index-url https://download.pytorch.org/whl/cu117 ; sys_platform == 'win32'
torchvision --index-url https://download.pytorch.org/whl/cu117 ; sys_platform == 'win32'
faster-whisper
translatepy
soundcard
soundfile
sounddevice
SpeechRecognition
pyaudio
python-dotenv
pyaudio
openai
websockets